
.idea/

.gradle/6.1/

.gradle/buildOutputCleanup/

.gradle/checksums/

.gradle/vcs-1/

build/classes/java/main/fr/kinj14/chatprotect/Functions/

build/classes/java/main/fr/kinj14/chatprotect/Listeners/

build/classes/java/main/fr/kinj14/chatprotect/

build/libs/

build/resources/main/

build/tmp/jar/

gradle/wrapper/
